<div id="contenedor-inicial">
	<div style="position: relative" align="center">
		<div class="mi-inicio">
			Tenemos las mejores películas<br>
			solamente para ti	
		</div>
			<img class="mi-logo" src="assets/img/logo.png" alt="">
	</div>

	<div id="contenedor-menu">
		<ul>
			<li>
				<a class="btn btn-default" href="#" role="button">Comedia</a>
				<a class="btn btn-default" href="#" role="button">Romance</a>
				<a class="btn btn-default" href="#" role="button">Terror</a>
				<a class="btn btn-default" href="#" role="button">Acción</a>
				<a class="btn btn-default" href="#" role="button">Drama</a>
				<a class="btn btn-default" href="#" role="button">Aventura</a>
				<a class="btn btn-default" href="#" role="button">Suspenso</a>
			</li>
		</ul>
		<div id="buscador">
			<form class="search"></form>
		</div>
	</div>
<router-outlet></router-outlet>
</div>
