<div id="contenedor-peli">
	<div class="poster-peli">
		<div style="width: 220px; height: 320px; ">
			<img class="poster-img" src="assets/img/peli1.jpg" alt="El Traje de Baño">
		</div>
	</div>
	<div class="poster-peli">
		<div style="width: 220px; height: 320px; ">
			<img class="poster-img" src="assets/img/peli2.jpg" alt="El Traje de Baño">
		</div>
	</div>
	<div class="poster-peli">
		<div style="width: 220px; height: 320px; ">
			<img class="poster-img" src="assets/img/peli3.jpg" alt="El Traje de Baño">
		</div>
	</div>
	<div class="poster-peli">
		<div style="width: 220px; height: 320px; ">
			<img class="poster-img" src="assets/img/peli4.jpg" alt="El Traje de Baño">
		</div>
	</div>
	<div class="poster-peli">
		<div style="width: 220px; height: 320px; ">
			<img class="poster-img" src="assets/img/peli5.jpg" alt="El Traje de Baño">
		</div>
	</div>
	<div class="poster-peli">
		<div style="width: 220px; height: 320px; ">
			<img class="poster-img" src="assets/img/peli6.jpg" alt="El Traje de Baño">
		</div>
	</div>

	<div class="clear"></div>

	<div class="mas-peli">
		<div align="center">
			<span class="mas-peli-texto">Más películas...</span> <br>
		</div>
	</div>
				
	<div class="clear"></div>

	<div class="paginacion">
		<div align="center">
			<span class="paginas">Pág. 1 de 100</span>
			<span class="paginas">1</span>
			<span class="paginas">2</span>
			<span class="paginas">3</span>
			<span class="paginas">4</span>
			<span class="paginas">5</span>
			<span class="paginas">6</span>
			<span class="paginas">...</span>
			<span class="paginas">></span>
			<span class="paginas">>></span>
		</div>
	</div>
</div>
<div id="contenedor-lateral">
	<div class="titulo-lateral">
		<h3>Películas de calidad</h3>
			<div class="contenido-lateral">
				<p>Excelentes películas con la mejor calidad, desde Blueray hasta HD 1080p. Podrás escucharlas en audio latino, totalmente gratis y en un solo click.</p>
			</div>
	</div>
	<div class="titulo-lateral">
		<h3>Facebook</h3>
			<div class="contenido-lateral">
				<p>Puedes contactarnos a través de nuestra cuenta oficial en facebook. También podrás enterarte de las películas que están disponibles y los estrenos realizados</p>
			</div>
	</div>
	<div class="titulo-lateral">
		<h3>Más sobre nosotros</h3>
			<div class="contenido-lateral">
				<p>Esta página está en construcción y seguiremos mejorando para hacer su estadía cada vez más cómoda.</p>
			</div>
	</div>
</div>

	<div class="clear"></div>
	
	<div id="footer">
		Puedes disfrutar de las mejores películas, cuando quieras y desde el lugar que estés. Todo disponible sin registro y en un solo click.
	</div>
