#caja-principal{
    width: 90%;
    padding:20px 0px 20px 0px;
    margin: 0 auto;
}



.caja-peli{
    padding:0px 0px 15px 15px;
    width: 250px;
    height: 300px;
}

.portada-peli{
    width: 100%;
    height: 100%;
}

.caja-prox{
    /*flexbox*/
    display: flex;
 
	flex-direction:row;
	flex-wrap:wrap;

}

.img-foto-prox{
    width: 80px;
    height: 120px;

    /*flexbox*/
    flex-grow: 1;
}

@media screen and (max-width: 991px){
    aside{
        display: none;
    }
}



@media screen and (max-width: 768px){

    .portada-peli {
        width: 280px;
        height: 300px;

        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .caja-peli {
        display: flex;
        justify-content: center;
        align-items: center;

        padding:0px 0px 15px 0px;
    }

}