div(class="caja-enlaces")
    
    div(class="row")
        div(class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 text-center")
            img(class="img-enlace", src="/imagenes/icons/utorrent.jpg", alt="Utorrent")
        
        div(class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 text-center")
            img(class="img-enlace", src="/imagenes/icons/yourupload.png", alt="YourUpload")

        div(class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 text-center")
            img(class="img-enlace", src="/imagenes/icons/bittorrent.png", alt="BitTorrent")

        div(class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 text-center")
            img(class="img-enlace", src="/imagenes/icons/utorrent.jpg", alt="Utorrent")