if url == ''

    //- Facebook
            
    meta(property="og:url",	content="/")
    meta(property="og:type", content="article")
    meta(property="og:title", content="Films Play")
    meta(property="og:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
    meta(property="og:image", content="/imagenes/icons/films 450.png")

    //- twitter

    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@filmsplay1")
    meta(name="twitter:creator", content="@filmsplay1" )
    meta(name="twitter:title", content="Films Play" )
    meta(name="twitter:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
    meta(name="twitter:image", content="/imagenes/icons/films 450.png")

else

    if url == "age"

        //- Facebook
                
        meta(property="og:url",	content="/")
        meta(property="og:type", content="article")
        meta(property="og:title", content="Films Play")
        meta(property="og:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces. ")
        meta(property="og:image", content="")

        //- twitter

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="@filmsplay1")
        meta(name="twitter:creator", content="@filmsplay1" )
        meta(name="twitter:title", content="Films Play" )
        meta(name="twitter:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
        meta(name="twitter:image", content="")
    
    else

        //- Facebook
                
        meta(property="og:url",	content="/")
        meta(property="og:type", content="article")
        meta(property="og:title", content="Films Play")
        meta(property="og:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
        meta(property="og:image", content="")

        //- twitter

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="@filmsplay1")
        meta(name="twitter:creator", content="@filmsplay1" )
        meta(name="twitter:title", content="Films Play" )
        meta(name="twitter:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
        meta(name="twitter:image", content="")