<div class="contenedor-pelis">
            <h3>Resident Evil: Apocalypse</h3>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td style="padding-left:0px">
                            <img src="assets/img/peli3.jpg" alt="Resident Evil" width="405" height="550" class="thumbnail">               
                        </td>

                        <td style="text-align:justify; padding-left:15px">
                            <p>Esta es una película clásica de zombis loquitos que no te puedes perder por nada en el mundo. La tipa que ves ahí en el poster, esaaa, esa es arrechísima matando a esos mal nacidos muertos caminantes. Atrévete a verla, no da ni un poquito de miedo.</p><br>
                            <p></p>
                            <p><b>Título:</b>Resident Evil: Apocalypse</p>
                            <p><b>Género:</b>Suspenso</p>
                            <p><b>Audio:</b>Latino y Zombie</p>
                            <p><b>Calidad:</b>Full HD Bluray – Video H.264 2000kbps | Audio AAC 160kbps</p>
                            <p><b>Director:</b>Un loco de remate</p>
                            <p><b>Elenco:</b>La tipa buenota de la foto, una gente ahí y el pocote de zombies.</p>
                            <br><br>
                            <div style="text-align:center"><h1>AQUÍ VA ALGO MÁS.</h1></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	    
	    <div>
	        <div style="width:100%; border:1px solid #999999; margin:15px 0px">
	            <div class="panel-online">
	                <div class="online-titulo">VER ONLINE</div>
                    <div class="online-descripcion">Audio latino</div>
                    <ul class="online-opciones">
                        <div>
                            <div class="online-tablecell">
                                <a href="">
                                    <li>YourUpload</li>
                                </a>
                            </div>
                            <div class="online-tablecell">
                                <div class="online-anotacion">Full HD</div>
                            </div>
                        </div>
                        <div>
                            <div class="online-tablecell">
                                <a href="">
                                    <li>OpenLoad</li>
                                </a>
                            </div>
                            <div class="online-tablecell">
                                <div class="online-anotacion">Full HD, menor calidad</div>
                            </div>
                        </div>
                        <div>
                            <div class="online-tablecell">
                                <a href="">
                                    <li>TVM</li>
                                </a>
                            </div>
                            <div class="online-tablecell">
                                <div class="online-anotacion">Calidad variable</div>
                            </div>
                        </div>
                    </ul>
	            </div>

                    <div class="descarga-panel">
                        <div class="online-titulo">DESCARGA</div>
                    </div>
	        </div>
	    </div> 