<!--<h1>Agregar Genero</h1>

<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="save()">

        <div class="form-group">
          <label for="name">Nombre</label>
          <input [(ngModel)]="genero.nombre" formControlName="nombre" type="text" class="form-control" >  
          <div *ngIf="form.controls['nombre'].touched && !form.controls['nombre'].valid" class="alert alert-danger">
              Nombre es Obligatorio.
          </div>        
        </div>

      <input type="submit" class="waves-effect waves-light btn  blue darken-4" value="Registrar" [disabled]="!form.valid" >
    </form>
  </div>
</div>-->

<div class="row" id="caja-genero-create">
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="card ">
        <div class="card-header">
            <span>Genero</span>
        </div>
        <div class="card-block"> 
            <form [formGroup]="form" (ngSubmit)="save()">

                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input [(ngModel)]="genero.nombre" formControlName="nombre" type="text" class="form-control" >  
                  <div *ngIf="form.controls['nombre'].touched && !form.controls['nombre'].valid" class="alert alert-danger">
                      Nombre es Obligatorio.
                  </div>        
                </div>

                <input type="submit" class="btn btn-primary" value="Registrar" [disabled]="!form.valid" >

            </form>
        </div> 
    </div>    
  </div>  
</div>
